.apply-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.apply-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}

.apply-header div {
    display: flex;
    gap: 10px;
}

.upload-section {
    margin-top: 20px;
    margin-bottom: 12px;
    text-align: center;
}

.custom-button label:hover {
    cursor: pointer;
}